{% extends 'base.html' %}
{% block Content %}
<div class="About_hedding" id="About">
  <h1>About</h1>
  <div id="about_row">
    <div class="about_col">
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat
        necessitatibus, dolor saepe dolores, fugit inventore harum maiores
        sapiente culpa nam, expedita natus aperiam deleniti reprehenderit?
        Corporis libero dignissimos suscipit blanditiis.Lorem ipsum dolor
        sit amet consectetur, adipisicing elit. Quaerat necessitatibus,
        dolor saepe dolores, fugit inventore harum maiores sapiente culpa
        nam, expedita natus aperiam deleniti reprehenderit? Corporis libero
        dignissimos suscipit blanditiis.Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Quaerat necessitatibus, dolor saepe
        dolores, fugit inventore harum maiores sapiente culpa nam, expedita
        natus aperiam deleniti reprehenderit? Corporis libero dignissimos
        suscipit blanditiis.Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quaerat necessitatibus, dolor saepe dolores, fugit
        inventore harum maiores sapiente culpa nam, expedita natus aperiam
        deleniti reprehenderit? Corporis libero dignissimos suscipit
        blanditiis.
      </p>
    </div>
    <div class="about_col">
      <div id="about_img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDc2fKWFhWsEtFTGsiAAfcVIvZmIVm1dnZjp7UgCmWxRVK64AIhIQGt9z2n79vpvf3LzI&usqp=CAU" alt="" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
