{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock %}
{% block head %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block Content %}
<div class="container">
    <h1>Contact Us</h1>
    <form class="form-value">
        <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Your name" required>
        </div>

        <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Your email" required>
    </div>

    <div>
        <label for="email">Mobile Number:</label>
        <input type="tel" id="mobile" name="mobile" placeholder="Your number" required>
    </div>
    <div>
        <label for="email">Age:</label>
        <input type="email" id="age" name="age" placeholder="Your Age" required>
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" placeholder="Your message" required></textarea>
    </div>
    <div>
        <button class="but-submit" type="submit">Send Message</button>
    </div>
    </form>

    <div class="contact-info">
        <p>Email: contact@example.com</p>
        <p>Phone: +123 456 7890</p>
    </div>
</div>
<h1 class="contact">This is contact page</h1>
{% endblock %}
